main {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin: 20px auto;
}

#add-item-section {
    background: rgb(76, 127, 131);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* display: grid; */
    margin: auto;
    width: 300px;
    height: 140px;
    position: relative;
    right: -23px;
}

#quantity-input {
    width: 20px;
    margin: 10px auto;
    text-align: center;
}

#item-input {
    text-align: center;
    display: inline-flex;
}

div#inputs-container {
    padding-left: 60px;
}

li > img {
    height: 25px;
}

.bought {
    text-decoration-line: line-through;
}

#remove-all-button {
    height: 20px;
}

.button {
    width: 140px;
    /* height: 20px; */
    margin-bottom: 4px;
}

.button-div {
    display: grid;
    gap: 5px;
    justify-content: center;
}

.container {
    display: grid;
    margin: 20px auto;
    height: 600px;
    width: 440px;
    background-image: url(/assets/small-notepad.png);
}

.list-box {
    margin: 15px auto;
    padding-top: 60px;
}

li {
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
}

h2 {
    font-family: 'Pacifico', cursive;
}
