main {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin: 20px auto;
}

header {
    background-color: bisque;
}

#add-item-section {
    background-image: url(/assets/smartphoneapp.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* display: grid; */
    margin: auto;
    width: 350px;
    height: 180px;
    position: relative;
    right: -23px;
}

#quantity-input {
    width: 20px;
    margin: 10px auto;
    text-align: center;
    height: 20px;
    border-radius: 5px;
}

#item-input {
    text-align: center;
    display: inline-flex;
    height: 20px;
    border-radius: 8px;
}

div#inputs-container {
    display: grid;
    grid-template-columns: 160px auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

li > img {
    height: 25px;
}

.bought {
    text-decoration-line: line-through;
}

#add-button {
    width: 90px;
    height: 25px;
    background-color: rgb(83, 172, 83);
    border-radius: 12px;
}

#remove-bought-button {
    height: 25px;
    width: 180px;
    background-color: rgb(179, 165, 86);
    border-radius: 10px;
}

#remove-all-button {
    height: 25px;
    width: 180px;
    background-color: rgb(150, 66, 66);
    border-radius: 10px;
}

.button {
    width: 140px;
    /* height: 20px; */
    margin-bottom: 4px;
}

.button-div {
    display: grid;
    gap: 5px;
    justify-content: center;
    justify-items: center;
}

.container {
    display: grid;
    margin: 20px auto;
    height: 600px;
    width: 440px;
    background-image: url(/assets/small-notepad.png);
}

.list-box {
    margin: 15px auto;
    padding-top: 40px;
}

li {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    margin-left: 20px;
}

h4 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline;
}

h2 {
    font-family: 'Pacifico', cursive;
    padding-top: -20px;
}

.select-remove-btn {
    width: 20px;
    height: 20px;
    margin-left: 180px;
    text-align: start;
}

#item-list {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    align-items: center;
}
